# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace "example.com" below with your
# domain name.

# Create a .env with env.CLOUDFLARE_API_TOKEN=... with the API token permissions to edit DNS Zone Info (so it can modify DNS records to prove ownership)
{
	# Full list of global options: https://caddyserver.com/docs/caddyfile/options

	# Set the ACME DNS challenge provider to use Cloudflare for all sites
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	dns cloudflare {env.CLOUDFLARE_API_TOKEN}

	http_port 0
	# default_bind 100.118.102.64

	log default {
		level WARN
		format console
	}
}

# Reverse proxy subdomains
adguardhome.iurii.io {
	reverse_proxy http://adguardhome:3003
}
freshrss.iurii.io {
	reverse_proxy http://freshrss:80
}
homeassistant.iurii.io {
	reverse_proxy http://homeassistant:8123
}
homepage.iurii.io {
	reverse_proxy http://homepage:3000
}
immich.iurii.io {
	reverse_proxy http://immich_server:2283
}
jellyfin.iurii.io {
	reverse_proxy http://jellyfin:8096
}
kiwix.iurii.io {
	reverse_proxy http://kiwix:8080
}
lidarr.iurii.io {
	reverse_proxy http://gluetun:8686
}
llm.iurii.io {
	reverse_proxy http://ollama:11434
}
ntfy.iurii.io {
	reverse_proxy http://ntfy:80
}
n8n.iurii.io {
	reverse_proxy http://n8n:5678
}
ollama.iurii.io {
	reverse_proxy http://open-webui:8080
}
overleaf.iurii.io {
	reverse_proxy http://sharelatex:8000
}
portainer.iurii.io {
	reverse_proxy http://portainer:9000
}
prowlarr.iurii.io {
	reverse_proxy http://gluetun:9696
}
qbittorrent.iurii.io {
	reverse_proxy http://gluetun:8085
}
radarr.iurii.io {
	reverse_proxy http://gluetun:7878
}
radicale.iurii.io {
	reverse_proxy http://radicale:5232
}
sonarr.iurii.io {
	reverse_proxy http://gluetun:8989
}
speedtest.iurii.io {
	reverse_proxy http://speedtest-tracker:80
}
syncthing.iurii.io {
	reverse_proxy http://syncthing:8384
}
uptimekuma.iurii.io {
	reverse_proxy http://uptime-kuma:3001
}
vaultwarden.iurii.io {
	reverse_proxy http://vaultwarden:80
}
